@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.25s ease-out forwards;
}

.horizontal-dotted-arrow::after {
  content: '>';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 32px;
  color: #fff;
  padding: 0 2px;
}

.horizontal-dotted-arrow-reverse::after {
  content: '<';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 32px;
  color: #fff;
  padding: 0 2px;
}

.vertical-dotted-arrow::after {
  content: 'v';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   font-size: 32px;
  color: #fff;
  padding: 0 2px;
}


.vertical-dotted-arrow {
  position: absolute;
  top: 0;
  width: 0;
  height: 40px;
  border-left: 2px dotted #ccc;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-dotted-arrow::after {
  content: 'v';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #fff;
  padding: 0 2px;
}

.process_section {
  padding-bottom: 600px;
}

@media screen and (min-width: 1100px) {
  .process_section {
    padding-bottom: 0px; /* Reduce padding instead of going negative */
    margin-bottom: -20px; /* Optional: pull next section up if needed */
  }
}